.elmer-slider {
  $e : &;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; 

  &--is-hero {
    #{$e}-control {
      $c : &;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    #{$e}-dots {
      bottom: 20px;
    }
  }
}