.elmer-slider-control {
  $e : &;
  width: $elmer-slider-control-size-touch;
  height: $elmer-slider-control-size-touch;
  padding: $elmer-slider-control-padding-touch;
  @include elmer-slider-transition(opacity, background-color);
  box-sizing: border-box;
  border: 0;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  background-color: transparent;
  z-index: 1;
  cursor: pointer;
  
  &:before {
    content: "";
    opacity: $elmer-slider-icon-opacity;
    display: block;
    box-sizing: border-box;
    transition: opacity;
    transition-duration: 0.3s;
    font-size: inherit;
    line-height: inherit;
    position: absolute;
    width: #{$elmer-slider-control-size-touch - (2 * $elmer-slider-control-padding-touch)};
    height: #{$elmer-slider-control-size-touch - (2 * $elmer-slider-control-padding-touch)};
    top: 50%;
    left: 25%;
  }
  
  @media (min-width: $elmer-slider-desktop-breakpoint) {
    width: $elmer-slider-control-size-desktop;
    height: $elmer-slider-control-size-desktop;
    padding: $elmer-slider-control-padding-desktop;

    &:before {
      width: #{$elmer-slider-control-size-desktop - (2 * $elmer-slider-control-padding-desktop)};
      height: #{$elmer-slider-control-size-desktop - (2 * $elmer-slider-control-padding-desktop)}; 
    }
  }
  
  &:hover,
  &:focus {
    background-color: $elmer-slider-icon-background-color;
    &:before {
      opacity: 1;  
    }
    
  }


  &#{$e}--fa-icon {
      @include font-awesome-icon();
      font-size: #{($elmer-slider-control-size-touch - (2 * $elmer-slider-control-padding-touch))};

      @media (min-width: $elmer-slider-tablet-breakpoint) {
        font-size: #{($elmer-slider-control-size-desktop - (2 * $elmer-slider-control-padding-desktop))};
      }

      &:before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: #{($elmer-slider-control-size-touch - (2 * $elmer-slider-control-padding-touch)) * 2};
        height: #{($elmer-slider-control-size-touch - (2 * $elmer-slider-control-padding-touch)) * 2};
        font-size: #{($elmer-slider-control-size-touch - (2 * $elmer-slider-control-padding-touch)) * 2};
        line-height: 1;

        @media (min-width: $elmer-slider-desktop-breakpoint) {
          width: #{($elmer-slider-control-size-desktop - (2 * $elmer-slider-control-padding-desktop)) * 2};
          height: #{($elmer-slider-control-size-desktop - (2 * $elmer-slider-control-padding-desktop)) * 2};
          font-size: #{($elmer-slider-control-size-desktop - (2 * $elmer-slider-control-padding-desktop)) * 2};
        }
      }

      &#{$e}--prev {
        &:before {
          content: "\f104";
        }
      }

      &#{$e}--next {
        &:before {
          content: "\f105";
        }
      }
    }


  &--prev {
    left: 0;
    order: 0;

    &:before {
      
      transform: translate(25%, -50%) rotate(45deg);
      border-bottom: #{$elmer-slider-control-size-touch / 8} solid $elmer-slider-icon-color;
      border-left: #{$elmer-slider-control-size-touch / 8} solid $elmer-slider-icon-color;
      
      @media (min-width: $elmer-slider-desktop-breakpoint) {
        border-bottom-width: #{$elmer-slider-control-size-desktop / 8};
        border-left-width: #{$elmer-slider-control-size-desktop / 8};
      }
    }
  }

  &--next {
    right: 0;
    order: 2;

    &:before {
      transform: translate(-25%, -50%) rotate(45deg);
      border-top: #{$elmer-slider-control-size-touch / 8} solid $elmer-slider-icon-color;
      border-right: #{$elmer-slider-control-size-touch / 8} solid $elmer-slider-icon-color;
      
      @media (min-width: $elmer-slider-desktop-breakpoint) {
        border-top-width: #{$elmer-slider-control-size-desktop / 8};
        border-right-width: #{$elmer-slider-control-size-desktop / 8};
      }
    }
  }

  &--disabled {
    opacity: $elmer-slider-icon-disabled-opacity;
    background-color: transparent;
    
    &:hover,
    &:focus {
      background-color: transparent;
      opacity: $elmer-slider-icon-disabled-opacity;

      &:before {
        opacity: $elmer-slider-icon-opacity;
      }
    }
  }
  
  &--hidden {
    display: none;
  }
}