.elmer-slider-play-control {
  $e : &;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  
  &--disabled {
    cursor: not-allowed;

    &:hover,
    &:focus {
      opacity: $elmer-slider-icon-disabled-opacity;
      cursor: not-allowed;
    }
  }

  &-btn {
    display: block;
    overflow: hidden;
    background-color: transparent;
    border: 0;
    position: relative;
    display: block;
    cursor: pointer;
    box-sizing: border-box;
    padding: $elmer-slider-play-control-padding-touch;
    width: $elmer-slider-play-control-size-touch;
    height: $elmer-slider-play-control-size-touch;
    @include elmer-slider-transition(background-color);

    &:before {
      content: "";
      opacity: $elmer-slider-icon-opacity;
      display: block;
      box-sizing: border-box;
      transition: opacity;
      font-size: inherit;
      line-height: inherit;
      @include elmer-slider-transition(opacity);
      width: 100%;
      height: 100%;
      border-style: solid;
    }

    @media (min-width: $elmer-slider-tablet-breakpoint) {
      padding: $elmer-slider-play-control-padding-desktop;
      width: $elmer-slider-play-control-size-desktop;
      height: $elmer-slider-play-control-size-desktop;
    }

    &:hover,
    &:focus {
      background-color: $elmer-slider-icon-background-color;
      &:before {
        opacity: 1;  
      }
    }

    &--fa-icon {
      @include font-awesome-icon();
      font-size: #{($elmer-slider-play-control-size-touch - (2 * $elmer-slider-play-control-padding-touch))};

      @media (min-width: $elmer-slider-tablet-breakpoint) {
        font-size: #{($elmer-slider-play-control-size-desktop - (2 * $elmer-slider-play-control-padding-desktop))};
      }

      &#{$e}-pause {
        &:before {
          content: "\f04c";
        }
      }

      &#{$e}-play {
        &:before {
          content: "\f04b";
        }
      }
    }
  }

  &-pause {
    &:before {
      border-color: transparent $elmer-slider-icon-color;
      border-width: 0 #{($elmer-slider-play-control-size-touch - $elmer-slider-play-control-padding-touch) / 4};

      @media (min-width: $elmer-slider-tablet-breakpoint) {
        border-width: 0 #{($elmer-slider-play-control-size-desktop - $elmer-slider-play-control-padding-desktop) / 4}; 
      }
    }
  }

  &-play {
    &:before {
      border-color: transparent transparent transparent $elmer-slider-icon-color;
      border-width: #{($elmer-slider-play-control-size-touch - (2 * $elmer-slider-play-control-padding-touch)) / 2} 0 #{(
          $elmer-slider-play-control-size-touch - (2 * $elmer-slider-play-control-padding-touch)
        ) / 2} #{$elmer-slider-play-control-size-touch - (2 * $elmer-slider-play-control-padding-touch)};

      @media (min-width: $elmer-slider-tablet-breakpoint) {
        border-width: #{($elmer-slider-play-control-size-desktop - (2 * $elmer-slider-play-control-padding-desktop)) / 2} 0 #{(
          $elmer-slider-play-control-size-desktop - (2 * $elmer-slider-play-control-padding-desktop)
        ) / 2} #{$elmer-slider-play-control-size-desktop - (2 * $elmer-slider-play-control-padding-desktop)};
      }
    }
  }
}