.elmer-slider-container {
  overflow: hidden;
  order: 1;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.elmer-slider-items {
  @include elmer-slider-transition(transform);
  list-style-type: none;
  font-size: 0;
  display: inline-block;

  &--not-animated {
    transition: none;
  }
}

.elmer-slider-item {
  display: inline-block;
  visibility: hidden;
  
  &--active {
    visibility: visible;
  }
}