.elmer-slider-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: inline;
  z-index: 1;
  text-align: center;
  line-height: 0;
  width: 100%;


  &-item {
    display: inline;
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  .elmer-slider-dot {
    background-color: $elmer-slider-icon-color;
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 0;
    opacity: $elmer-slider-dot-opacity;
    border: 0;
    
    border-radius: 50%;
    transition: ease-in-out opacity $elmer-slider-transition-speed;

    &:hover,
    &:focus {
      cursor: pointer;
      opacity: 1;
    }

    &--active {
      opacity: 1;
    }
  }
}