$elmer-slider-tablet-breakpoint: 768px;
$elmer-slider-desktop-breakpoint: 1024px;

$elmer-slider-transition-function: ease-in-out !default;
$elmer-slider-transition-speed: 0.3s !default;

$elmer-slider-control-size-touch:  40px;
$elmer-slider-control-padding-touch: 10px;
$elmer-slider-control-size-desktop:  60px;
$elmer-slider-control-padding-desktop: 15px;

$elmer-slider-play-control-size-touch: 40px;
$elmer-slider-play-control-padding-touch: 10px;
$elmer-slider-play-control-size-desktop: 50px;
$elmer-slider-play-control-padding-desktop: 14px;

$elmer-slider-icon-color: black;
$elmer-slider-icon-background-color: white;
$elmer-slider-icon-opacity: .7;
$elmer-slider-icon-disabled-opacity: .2;

$elmer-slider-dot-opacity: .5; 

$font-awesome-font: "Font Awesome 5 Free";
    
$root2: 1.41421356237;

@mixin elmer-slider-transition($transition-property...) {
  transition-timing-function: $elmer-slider-transition-function;
  transition-duration: $elmer-slider-transition-speed;
  transition-property: $transition-property;
}

@mixin font-awesome-icon() {
  font-family: $font-awesome-font;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;

  &:before {
    border: 0 !important;
  }
}