@import '../../node_modules/bulma/bulma.sass';
@import 'https://fonts.googleapis.com/css?family=Cousine:400,700';

$main-color: #7CC6FE;
$dark-color: #0C0F0A;
$lite-color: #ffffff;
$font-family: 'Cousine', monospace;

$elmer-slider-tablet-breakpoint: 768px;
$elmer-slider-desktop-breakpoint: 1024px;

html, body {
  font-family: $font-family;
  color: $dark-color;
}

.subtitle {
  color: $dark-color;
}

a {
  color: $main-color;
}

pre {
  background: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1.25rem 0;
}

.navbar {
  background-color: $main-color;

  .navbar-burger {
    color: white;

    &:hover {
      background: inherit;
    }
  }

  .navbar-menu {
    background: transparent;
  }

  .navbar-item {
    color: $lite-color;

    &:hover {
      color: white;
      background-color: transparent;
    }
  }
}

.main-hero {
  background-color: $main-color;

  .title {
    color: $lite-color;
  }

  .subtitle {
    color: $lite-color;
  }
}

.footer {
  background-color: white;
  padding: 3rem 1.5rem;
}

.slide-container {
  margin: 50px 0;

  .item-wrapper {
    display: block;
    
    padding: 20px;

    .item-content {
      color: white;
      background-color: $main-color;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  .item-content {
    &:before {
      content: '';
      padding-top: 100%;
    }
  }

  .defaultslider,
  .callbackslider {
    .item-content {
      &:before {
        @media (max-width: #{$elmer-slider-tablet-breakpoint - 1}) {
          padding-top: 50%;
        }
      }
    }
  }
  
  .heroslider,
  .fontawesomeslider {
    .item-wrapper {
      padding: 0;
    }

    .item-content {
      position: relative;
      flex-wrap: wrap;

      &:before {
        content: '';
        padding-top: calc(100% / 3);
      }

      .item-cta {
        color: white;
        border: 1px solid white;
        padding: .75rem 1.25rem;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        text-transform: uppercase;
      }

      .progress-bar {
        content: '';
        width: 0%;
        height: 2px;
        background-color: black;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

@keyframes widthGrow {
  0% {
    width: 0;
  }

  5% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}